body{
font-family: Arial, sans-serif;
background: #8b0be0d3;
}

.container{
width: 500px;
margin: 50px auto;
background: rgba(255, 255, 255, 0.774);
padding: 20px;
border-radius: 10px;
}

input{
width: 95%;
padding: 10px;
margin: 5px 0;
}

button{
padding: 10px 20px;
background: #000000;
color: white;
border: none;
cursor: pointer;
}

button:hover{
background: linear-gradient(#2f00ff, #ff0000);
}

li{
margin: 10px 0;
}
